<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Razor </title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/m1_1.styles.css" asp-append-version="true" />
</head>
<body>
    <header> 
        <img src="~/images/logo_jpg.jpg" alt="Logotyp">
        <div class="date" style="text-align: right;">
            <p>Dagens datum är: @DateTime.Now.ToString("yyyy-MM-dd")</p>
        </div>   
    </header>
    <div class="main_layout">
        <div class="sidebar">
            <nav>
                <ul class="navbar-nav flex-column">
                    <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-page="/Index">Startsidan</a></li>
                    <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-page="/Razor">Razor</a></li>
                    <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-page="/about">Om mig</a></li>
                </ul>
            </nav>
        </div>

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer>
        <div>
            &copy; 2025 - Anne-Lii Hansen  Kontakta mig via e-post: <a asp-area="" asp-page="/Privacy">anha2324@student.miun.se</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
