
html {
  font-size: 18px;
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0;
  height: 100px;
  border-bottom: 3px solid #caa75b;
  width: 100%;
}

#logo {
  margin: 0;
}

.date {
  padding: 30px;
}

/* Hamburgemenyknapp */
.hamburger-btn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 15px;
}

.hamburger-icon {
  width: 30px;
  height: 3px;
  background-color: #caa75b;
  display: block;
  margin: 6px auto;
}

#close-btn {
  display: none;
}

/* Sidinnehåll */
.main_layout {
  display: flex;
  width: 100%;
  height: calc(100vh - 100px); /* Hela höjden minus headerns höjd */
  padding: 50px 0 0 0 ;
  gap: 20px;
}

/* Sidebar med navigering */
.sidebar {
  width: 25%;
  padding:0 0 0 50px; 
  margin: 0;
  font-size: 24px;
}

nav ul li {
  width: 100%;
}

nav ul li a{
  color: #caa75b;
}



nav ul li:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Container med main innehåll */
.container {
  width: 75%;
  padding: 0;
  margin: 0 20px 0 0 ; 
}

.container h2{
  width: 100%;
  max-width: 700px;
  padding-top: 30px;
  font-size: 24px;
  line-height: 1.4em;
}

.container p{
  width: 100%;
  max-width: 700px;
  padding-top: 30px;
  font-size: 18px;
  line-height: 1.4em;
}

.container ul{
  width: 100%;
  max-width: 700px;
  font-size: 18px;
  line-height: 1.4em;
}

img {
  max-width: 300px;
  border-radius: 50%;
  margin-top: 40px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  background-color: #f8f9fa;
  text-align: center;
  padding: 10px 0;
}

@media (max-width: 800px) {

  html {
    font-size: 16px;
  }

  .hamburger-btn {
    display: block;
  }

  .container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .sidebar {
    width: 100%;
    position: absolute;
    left: -100%;
    top: 0;
    height: 100vh;
    background-color: #fff9ec;
    z-index: 1000;
    transition: left 0.5s ease;
  }

  .sidebar.active {
      left: 0;
      padding: 0;
      background-color: #ffffff;
  }

  .navbar-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .navbar-nav li {
    padding: 10px;
    text-align: center;
  }

  .navbar-nav li a {
    text-decoration: none;
    display: block;
  }

  .navbar-nav li:hover {
    text-decoration: underline;
  }

  #close-btn {
    display: block;
    background-color: #ffffff;
    border: none;
    padding: 100px 0 0 30px;
    color: #caa75b;
  }

}