@page
@model IndexModel
@{
    ViewData["Title"] = "Om mig";
}

<div>
    <h1 class="display-4">Anne-Lii Hansen </h1>    
    
    <!-- Bild på mig -->
    <img src="~/images/annelii.jpg" alt="porträttbild Annelii">

    <p>
        Jag är en 39-årig högskolestudent som studerar webbutveckling på Mittuniversitetet images Sundsvall på distans. 
        Jag har under detta ett och ett halvt året kommit fram till att jag gillar backend utveckling. Vilket är kul, 
        för det trodde jag verkligen inte när jag startade denna utbildning.
        Man lär sig så länge man lever.
    </p>


</div>
