@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1 class="display-4">Välkommen till Moment 1.1</h1>
    <p>
        Denna ASP.NET Core Web App är skapad med Razor som moment 1.1 i kursen "Webbutveckling med .NET".
        På denna sida finns en kort presentation av mig och på sidan "Om mig".
        På sidan "Razor" visas en lista på mina kurser som jag har läst tillsammans med texten "Idag är det fredag!" 
        om det är fredag. Om det inte är fredag visas texten "I dag är det inte fredag.." . 
        Längst upp till höger i headern finns även dagens datum.
    </p>
    
</div>
